body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('https://assets.newatlas.com/dims4/default/45c79ad/2147483647/strip/true/crop/3574x2383+0+0/resize/1200x800!/format/webp/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2Farchive%2Fmit-tetris.JPG');

}

.main{
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

p{
    font-size: 5em;
    color: thistle;
}

#controls{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 45vh;
}

#score{    
    border: 0;
    font-family: sans-serif;
    text-align: center;
    color: thistle;
    font-size: 7em;
}
canvas{    
    text-align: center;
    border: solid .5em #008cff;
    height: 90vh;
    border-radius: 2%;
    margin-top: 30px;

}
