body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('https://assets.newatlas.com/dims4/default/45c79ad/2147483647/strip/true/crop/3574x2383+0+0/resize/1200x800!/format/webp/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2Farchive%2Fmit-tetris.JPG');

}
#score{
    border: solid 0 black
    font-family: sans-serif;
    font-size: 45px;
    text-align: center;
    color: white;
}
canvas{
    text-align: center;
    border: solid 1em grey;
    height: 90vh;
    border-radius: 5%;

}
